.image-pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;

}
.image-pic {
    position: relative;
}
.image-pic button{
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 100px;
    border: none;
    height: 35px;
    width: 35px;
    padding: 5px;
}
.image-pic button i {
    color: orange;
}
.profil-data {
    position: relative;
}
.profil-pic img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}
.profil-pic {
    z-index: 1;
    position: absolute;
    object-fit: cover;
    top: -100px;
    left: 50px;
}
.profil-pic button{
    position: absolute;
    background: transparent;
    border: none;
    right: 20px;
    top: 15px;
    color: #fff;
}
.profi-btn {
    padding: 25px 0;
}
.profi-btn button{
    background: orangered;
    border: none;
}
.profi-btn button:nth-child(2){
 margin-left: 10px;
}
.profi-btn button:nth-child(3){
    margin-left: 10px;
   }
   .margin{
       margin-top: -35px !important;
       border-radius: 0 0 10px 10px;
       box-shadow: 0 0 10px #7e7a7a;
   }

   .verfy {
    color: #0d1e96;
    font-size: 20px;
   }

   .prime {
    font-size: 20px;
    color: #9d00ff;
   }
   .pr-2{
       padding-right: 10px;
       font-weight: 500;
    }
    .pr-3{
        padding-right: 20px;
    }
    .profl {
        font-weight: 700;
        font-family: sans-serif;
    }
    .like {
        font-size: 20px;
        font-weight: 700;
        padding-left: 55px;
    }

    .font-icon {
        font-size: 40px;
    }

    .orng {
        color: #ff8d00;
    }
    .wrng {
        color: #dc9d9db0;
    }
    .img-fluid{
        box-shadow: 0 0 10px #7e7a7a;
        border-radius: 10px 10px 0 0 ;
    }