.bg-color{
    background: #31a2da;
    // box-shadow: 5px 10px #888888;
    height: auto !important;
    padding: 100px 0;
}
.card {
    margin: 0 25px !important;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgb(2 7 12 / 95%), 0 2px 10px 0 rgb(0 0 0 / 97%);
}
.card figure img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}
.card .text-body {
  padding:10px;
}

.active{
    background: orange;
    color: #fff;
}
.tab1{
    background: #fff;
    color: #000;
}
.tab2{
    background: #fff;
    color: #000;color: #fff;
}

.btn {
    border: 1px solid #ffa500bf !important;
    border-radius: 20px;
    width: 60px;

}

.btn-check:focus+.btn, .btn:focus{
    box-shadow: none !important;
}
.card a{
    text-decoration: none;
}

.owl-item.ng-tns-c20-0.ng-trigger.ng-trigger-autoHeight.active.ng-star-inserted {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    height: 20000px !important;
}